@font-face {
    font-family: 'maicra';
    src: url(./fonts/minecraft/Minecraft.ttf) format(truetype);
 }
.bodyerror {
    background-image: url(mc-error-page.jpg);
    background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
.errortext1 {
    font-family: 'maicra';
    color: rgb(234, 255, 255);
    padding-left: 500px;
}
.errortext2 {
    font-family: 'maicra';
    color: rgb(234, 255, 255);
    padding-left: 550px;
}