@font-face {
    font-family: 'maicra';
    src: url(./fonts/minecraft/Minecraft.ttf) format(truetype);
 }
.fieldset {
border: solid;
border-width: 4px;
border-color: rgb(53, 32, 38);
background-color:rgb(228, 152, 209) ;
}
.legendlabel {
    font-family: 'maicra';
background-color: rgb(53, 32, 38);
color: rgb(228, 152, 209);
text-align: center;
}
.label {
font-family: 'maicra';   
}
.body2 {
background-image:url(https://i.redd.it/getjr3xoyagb1.png);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
}
.cherry-log5 {
    font-family: 'maicra';
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38); 
}