
@font-face {
    font-family: 'maicra';
    src: url(./fonts/minecraft/Minecraft.ttf) format(truetype);
 }
 .body{
   background-image:url(https://i.redd.it/getjr3xoyagb1.png) ;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}

.poster {
    size-adjust: 50%;
    width: 75%;
    height: 75%;
    box-sizing: border-box;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(196, 140, 91);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(118, 218, 114);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(196, 140, 91);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(196, 140, 91);
    
}
.poster2 {
    float: right;
    width: 50%; ;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(196, 140, 91);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(118, 218, 114);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(196, 140, 91);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(196, 140, 91);
}

.cherry-log {
    font-family: 'maicra';
    display: block;
    


    padding-right: 10px;
    padding-left: 10px;
    margin: 0px 0;
    width: 400px;
    box-sizing: border-box;
    height: 180px;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.about,.reparto,.contacto {
    
    font-family: 'maicra';
    display: block;
    


    padding-right: 10px;
    padding-left: 10px;
    margin: 0px 0;
    width: 400px;
    box-sizing: border-box;
    height: 160px;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.title {
  font-family: 'maicra';
    width: fit-content;
   padding: 20px;
}

.volver  {
    font-family: 'maicra';
}
.RE {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.trama {
    font-family: 'maicra';
    size-adjust: 50%;
float: right;
width: 50%; ;
   background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.cherry-log1 {
    font-family: 'maicra';
    size-adjust: 60%;
    float: left;
    width: 40%;
     background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.cherry-log2 {
    font-family: 'maicra';
    padding: 5px 20px;
    width: fit-content;
     background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.cherry-log3 {
    font-family: 'maicra';
    float: left;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38); 
} 
.cherry-log4 {
    font-family: 'maicra';
    float: right;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38); 
}
.lista1 {
    font-family: 'maicra';
    float: left;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.lista2 {
    font-family: 'maicra';
    float: right;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}

 /* main.mainflex{
    display: flex;
    justify-content: space-between;
 } */
.musica {
    font-family: 'maicra';
    display: inline-block;
    color: aliceblue;
    font-size: 25px;
}
.boton {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 2rem;
    
}
/* .burger {
   display: block; 
   position: sticky;
   top: 0;
    right: -1000px;
   background-color:rgb(228, 152, 209) ;

}     */
#panelhamburguesa {
    height: 100vh;
    width: 400px;
    position: fixed;
    top: 10vh;
    right: -1000px;
    transition: right 7s ease;
 
	
    background-color: rgba(0, 0, 0, 0.468) ;

    background-size: 100% 100%;
}
#panelhamburguesa:target {
    right: 0;
}
#cerrar {
    display: none;
}
#panelhamburguesa:target ~ header nav #abrir {
    display: none;
}
#panelhamburguesa:target ~ header nav #cerrar {
    display: inline-block;
}
.header {
    background-color: rgb(196, 140, 91);
    border-top-width: 20px;
    border-top-style: solid;
    border-top-color: rgb(118, 218, 114);
}