
@font-face {
    font-family: 'maicra';
    src: url(./fonts/minecraft/Minecraft.ttf) format(truetype);
 }
 .body{
   background-image:url(https://i.redd.it/getjr3xoyagb1.png) ;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
.body1{
   background-image:url(https://i.redd.it/getjr3xoyagb1.png) ;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
.body2 {
    background-image:url(https://i.redd.it/getjr3xoyagb1.png) ;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
.body3 {
    background-image:url(https://i.redd.it/getjr3xoyagb1.png) ;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
.body4 {
    background-image:url(https://i.redd.it/getjr3xoyagb1.png) ;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
.poster {
    size-adjust: 50%;
    width: 100%;
    box-sizing: border-box;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(196, 140, 91);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(118, 218, 114);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(196, 140, 91);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(196, 140, 91);
    
}
.poster2 {
    float: right;
    width: 50%; ;
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(196, 140, 91);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(118, 218, 114);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(196, 140, 91);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(196, 140, 91);
}
.about, .cherry-log, .reparto,.contacto {
    /* float: left; */
    
    font-family: 'maicra';
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px 0;
    width: 215px;
    box-sizing: border-box;
    height: 215px;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.title,.volver  {
    font-family: 'maicra';
}
.RE {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.trama {
    font-family: 'maicra';
    size-adjust: 50%;
float: right;
width: 50%; ;
   background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.cherry-log1 {
    font-family: 'maicra';
    size-adjust: 60%;
    float: left;
    width: 40%;
     background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.cherry-log2 {
    font-family: 'maicra';
    padding: 5px 20px;
    width: fit-content;
     background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.cherry-log3 {
    font-family: 'maicra';
    float: left;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38); 
} 
.cherry-log4 {
    font-family: 'maicra';
    float: right;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38); 
}
.lista1 {
    float: left;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}
.lista2 {
    float: right;
    background-color: rgb(228, 152, 209);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    border-bottom-color: rgb(53, 32, 38);

    border-top-style: solid;
    border-top-width: 30px;
    border-top-color: rgb(53, 32, 38);

    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: rgb(53, 32, 38);
    
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: rgb(53, 32, 38);
}

 main.mainflex{
    display: flex;
    justify-content: space-between;
 }
 